/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #9a9c9e;
    font-size: 12px;
    font-family: 'Fira Sans Condensed', sans-serif;
}


/*------- Colors------*/

nav a,
h1,
h2,
p {
    color: #000;
}

/*------Background Image / All Content Wrapper---- */

.bg-img {
    background-image: url("pictures/travel.jpg");
    background-color: #8d97a8;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    overflow-y: scroll;
}

/* ------------------ Headers ----*/

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}


/* ------------------ Navbar ----*/

#navbar-r {
    background-color: rgba(136, 136, 136, 0.8);
    color: #fff;
}

#navbar-r p {
    margin: 9px 0 9px 0;
    font-size: 22px;
}

.navbar-header a {
    font-size: 34px;
    color: #000;
}

nav a:hover {
    color:#fff;
    text-decoration: none;
}

/* ------------------ Map ----*/

#map {
    height: 400px;
    width: 75%;
    left: 12%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 6px 4px;
}

.map-c {
    height: 646px;
}


#locationField {
    position: relative;
    margin: 2px 0 2px 0;
    width: 200px;
    height: 23px;
    top: 107px;
    left: 12%;
    z-index: 5;
    background-color: #fff;
}

#controls {
    position: relative;
    left: 12%;
    width: 200px;
    top: 58px;
    z-index: 5;
}

#country {
    width: 100%;
    background-color: #fff;
}

#autocomplete {
    width: 100%;
}

#listing {
    position: absolute;
    top: 490px;
    left: 13.5%;
    width: 200px;
    height: 200px;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}

.places-wrap {
    height: 37px;
}

#places-div {
    position: relative;
    width: 200px;
    margin: 2px 0 2px 0;
    padding: 0 0 0 11px;
    top: 86px;
    left: 12%;
    z-index: 5;
    border-top: 2px solid #000;
    background-color: #fff;
}

/*------------------- Info -----------*/

.info {
    display: none;
    position: absolute;
    z-index: 6;
    padding: 10px;
    background-color: #ccc;
    color: #000;
}




/* ------------------ Contact form ----*/

.form-c {
    background-color: rgba(136, 136, 136, 0.5);
    margin: 3px;
    color: #fff;
}

form textarea::placeholder,
form input::placeholder {
    color: #fff !important;
}

#ct-form {
    height: 135px !important;
    position: absolute;
    top: 41px;
    z-index: 7;
}

#cont-form {
    width: 300px;
    float: right;
    margin: 27px;
}

#btn-pd {
    background-color: #5bc0de;
}
.btn-info {
    z-index: 1;
}


/* ------------------ Footer ----*/

footer {
    position: relative;
    bottom: 0;
}

footer .footer-bg {
    background-color: rgba(136, 136, 136, 0.8);
    color: #fff;
}


footer a {
    color: #e54725;
}


/* --------Media Query ----*/

@media only screen and (max-width: 360px) {
    #locationField {
        width: 180px;
    }
    #controls {
        width: 180px;
    }
}

@media only screen and (max-width: 767px) {
    #listing {
        display: none;
    }
}


@media only screen and (max-width: 991px) {    
    #ct-form {
        top: 86px;
    }
    
    #btn-pd {
        border: 1px solid #000;
    }
    
    .form-c {
        background-color: rgba(136, 137, 140, 0.95);
        border: 1px solid #000;
    }
}
