/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

html,
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #9a9c9e;
    font-size: 12px;
    font-family: 'Fira Sans Condensed', sans-serif;
}


/*------- Colors------*/

nav a,
h1,
h2,
p {
    color: #000;
}

/*------Background Image / All Content Wrapper---- */

.bg-img {
    background-image: url("pictures/travel.jpg");
    background-color: #8d97a8;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0;
    overflow-y: scroll;
}


/* ------------------ Navbar ----*/

#navbar-r {
    background-color: rgba(136, 136, 136, 0.8);
    color: #fff;
}

#navbar-r p {
    margin-right: 15px;
    font-size: 16px;
}

.navbar-header a {
    font-size: 34px;
    color: #000;
}




/* ------------------ Map ----*/

#map {
    height: 631px;
    width: 100%;
    margin-bottom: 300px;
    box-shadow: 0px 0px 6px 4px;
}

.map-c {
    height: 646px;
}



#locationField {
    position: relative;
    width: 200px;
    height: 25px;
    top: 107px;
    left: 1px;
    z-index: 5;
    background-color: #fff;
}

#controls {
    position: relative;
    left: 1px;
    width: 200px;
    top: 59px;
    z-index: 5;
}

#country {
    width: 100%;
    background-color: #fff;
}

#autocomplete {
    width: 100%;
}

#listing {
    position: absolute;
    top: 945px;
    width: 150px;
    height: 200px;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}

.places-wrap {
    height: 37px;
}

#places-div {
    position: relative;
    width: 200px;
    top: 86px;
    left: 1px;
    z-index: 5;
    border-top: 2px solid #000;
    background-color: #fff;
}

/*------------------- Info -----------*/

.info {
    display: none;
    position: absolute;
    background-color: rgba(153, 153, 153, 0.6);
    color: #000;
}




/* ------------------ Contact form ----*/

.form-c {
    background-color: rgba(136, 136, 136, 0.5);
    color: #fff;
}

form textarea::placeholder,
form input::placeholder {
    color: #fff !important;
}

#ct-form {
    height: 216px;
}

#cont-form {
    width: 300px;
}


/* ------------------ Footer ----*/

footer {
    position: relative;
    bottom: 0;
}

footer .footer-bg {
    background-color: rgba(136, 136, 136, 0.8);
    color: #fff;
}


footer a {
    color: #e54725;
}


/* --------Media Query ----*/

@media only screen and (max-width: 767px) {
    #listing {
        display: none;
    }
}
